html,body{margin:0;padding:0;}
#page{width:100%;height:100%;position:relative;}
.panel{position:absolute;left:0;top:0;width:100%;height:100%;text-align:center;}
.main{position:absolute;left:20px;top:20px;display:block;font-size:30px;padding:20px;z-index:66;border-radius:10px;}
.button{border-radius:10px;background:-webkit-linear-gradient(top,#eee,#cbcbcb);font-weight:800;text-shadow:1px 1px 5px #999;}

/*welcome*/
#welcome{background:url(../img/foo.jpg) center top;}
.cloud1,.cloud2{position:absolute;z-index:1;width:100px;height:100px;background:#f60;top:150px;opacity:0.8}
.cloud1{left:300px;}
.cloud2{right:300px;}
.title{margin:23% auto 0;width:30%;}
.sub-title{margin:100px auto 0;width:40%;}
.title,.sub-title{font-size:32px;padding:30px;opacity:0;}

/*menu*/
#menu{background:url(../img/foo1.png) center top;}
#menu ul{padding-top:5%;width:50%;margin:0 auto;list-style:none;}
#menu li{border-radius:10px;font-size:40px;padding:20px;margin-top:20px;}

/*act1*/
#act1{background:url(../img/foo7.jpg) center top;}
/*act2*/
#act2{background:url(../img/foo5.jpg) center top;}
/*act3*/
#act3{background:url(../img/foo4.jpg) center top;}

.sheep{position:absolute;background:url(../img/sheep1.gif);width:50px;height:50px;}